.inverted{
    flex-direction: row-reverse;
}

.not-inverted{
    flex-direction: row;
}

.project-box{
    display: flex;
    margin: 2%;
    gap: 2%;
    color: white;

    border-radius: 5px;
}

.project-text{
    padding: 20px;
    width: 50%;
}

.project-image{
    width: 50%;
    height: 600px;
    overflow: hidden;
}

.project-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-text h4 {
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 1px;
}