.projects-container{
    width: 100%;
}

.projects-slider-container{
    margin: 5%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    list-style: none;
}

.projects img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.information{
    text-align: center;
    position: relative;
    bottom: 30%;
    z-index: 1;

    margin-left: 30%;
    margin-right: 30%;
/* From Uiverse.io by adamgiebl */
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #2f2873;
    background-color: #6762956d;;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #2f2873;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #2f2873;
}

.information:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #2f2873;
}

.left-project{
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 30px 1px;
    transform: translateX(20px);
    position: relative;
    z-index: -9;
    opacity: 0.5;
}

.middle-project{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 30px 1px;
    opacity: 1;
}

.right-project{
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 30px 1px;
    transform: translateX(-20px);
    position: relative;
    z-index: -9;
    opacity: 0.5;
}

