#skills h3 {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 4rem;
}

.skill-container{
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 250px;
    color: white;
}

.skill-container h4 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    letter-spacing: 1px;
    font-size: 20px;
}

.all-skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 5%;
}

.icon{
    font-size: 4rem;
}

.html{
    color: #E34F26;
}

.css{
    color: #1572B6;
}

.js{
    color: #F7DF1E;
}

.react{
    color: #61DAFB;
}

.python{
    color: #3776AB;
}

.rStudio{
    color: #75AADB;
}