@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.font-anton {
    font-family: "Anton", sans-serif;
}

.font-unbun {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}


section h2 {
    color: white;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
}

body{
    background-color: rgb(0, 0, 49);
    margin: 0px;
}

.darkblue-color{
    background: radial-gradient(circle, rgb(39, 39, 68) 20%, rgba(45, 53, 79, 1) 100%);
    color: #ffffff;
}

@media (max-width: 768px){
    section h2{
        font-size: 60px;
        letter-spacing: 6px;
    }
}

@media (max-width: 480px){
    section h2{
        font-size: 45px;
        letter-spacing: 3px;
    }
}

html {
    scroll-behavior: smooth;
}