
header{
    padding: 4%;
    padding-bottom: 14%;
}

nav {
    display: flex;
    justify-content: space-between;

    padding: 2%;
    padding-top: 4rem;
}

#linksSection {
    display: flex;
    list-style: none;
    gap: 8%;
    width: 50%;

    justify-content: flex-end;
    padding-right: 5%;
    margin: 5px;
}

#linksSection a, header nav h5{
    font-size: 15px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.576);

    transition: all 0.5s ease 0s;
}

#linksSection a:hover{
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.851)
}

#contact {
    display: flex;
    width: 50%;

    padding-left: 5%;
    margin: 5px;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    font-size: 100px;
}

#name p {
    font-size: 20px;
    font-weight: 100;
    padding: 2%;
}

#infoList{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 0px;
    list-style: none;
    color: rgba(245, 245, 245, 0.576);
}

#buttonList{
    margin: 100px 7% 0px 7%;
    list-style: none;
    padding-left: 0px;

    display: flex;
    gap: 5%;
}

#buttonList a{
    flex: 1;
    text-decoration: none;
}

.link-button{
    text-align: center;
    z-index: 1;
/* From Uiverse.io by adamgiebl */
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    color: #6b5cf3;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #6b5cf3;
    border-radius: 10px;
}

.main-link-button{
    background-color: #6b5cf3;
    color: white;
}

@media (max-width: 768px){
    #name{
        font-size: 60px;
    }
    #infoList, #linksSection a, header nav h5{
        font-size: 14px;
    }
    #linksSection a:hover{
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.851)
    }
    .link-button{
        font-size: 15px;
        padding: 12px 25px;
    }
}

@media (max-width: 480px){
    #name{
        font-size: 50px;
    }
    #infoList, #linksSection a, header nav h5{
        font-size: 12px;
    }
    #linksSection a:hover{
        font-size: 13px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.851)
    }
    #infoList{
        flex-direction: column;
        text-align: center;
        gap: 4px;
    }
    .link-button{
        font-size: 10px;
        padding: 8px 18px;
    }
}