.education-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.education-box h6, .education-box p{
    font-weight: 100;
    font-size: 14px;
    margin: 3px;
    color: rgba(245, 245, 245, 0.859);
}

.education-box h5{
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
}

.image-holder {
    height: 100px;
    width: 100px;
    background-color: rgb(98, 98, 98);

    border-radius: 50%;
    overflow: hidden;

    margin-bottom: 20px;
}

.image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px){
    .image-holder{
        margin-bottom: 10px
    }
}